body{
    margin-left: 0px;
    margin-top:50px;
    padding-left: 0%;
    background-color: #ffffff;
}
.jumbotron{
    background-color:white;
    text-align: center;
    font-size:40px;
}
.AboutSociety {
    background-color:white;
    color:#a51f2f;
    margin-bottom: 7%;
    margin-right: 7%;
    margin-left: 7%;
}
.AboutSociety h2{
    text-align:center;
    font-size:40px;
}
.AboutSociety p{
    text-align: left;
    color:black;
    font-size: 16px;
}
.container-fluid{
    text-align:center;
    color:#a51f2f;
    padding-bottom: 5%;
}
.Forthcoming-Concert{
    text-align: center;
    background-color: #a51f2fe9;
    color: #ffffff;
    padding-bottom:7%;
    padding-top:4%;
}
.Forthcoming-Concert h2{
    font-size:40px;
}
.Forthcoming-Concert p{
    font-size:32px;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
}
.imagerotator{
background-color: #ffffff;
}
.PhotoVideo{
    text-align: center;
    margin: 5%;
}
.PhotoVideo h2{
    color: #a51f2f;
    font-size: 40px;
    padding: 3%;
}
.img img{
    padding-top: 3%;
    border-style: hidden;
    border-radius: 6%;
}
.upcoming{
    background-color:#a51f2fe9;
    text-align: center;
    padding: 5%;
}
.upcoming h2{
    font-size: 40px;
    color: #ffffff;
}
.upcoming img{
    border-style:hidden;
    border-radius: 2%;
}
.navbar{
    height:80px;
    background-color: #a51f2f;
}
.navbar img{
    padding-left: 0%;
}
.navbar a{
    color:aliceblue !important;
    font-size:15px;
}
.navbar ul{
    padding-top: 1%;
}

.navbar-collapse {
    background-color: #a51f2fe9 !important;
}